MONGO_URI=""
PRIVATE_KEY="LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlCT2dJQkFBSkJBTVgzalVXc2wrbjJhK2NoeXhKc21zQmRWbm5JM0xVdVlpZDdYaDNFSisyQXNmZk4xRXgxCmY5NVpRUDFPZjJ5UkhMa2N0a1RiV1FUQm5SZTBUN1dmRW0wQ0F3RUFBUUpBSjF6VW0wRDVKODBXb1d1SHZFOFoKNmh2bEFPd2VibXdkbWlvZWlaNmlMY2Zxa0dGdUY1dmR3Nmg2VTZGdkRrWkdlSVlqV0EvdzMxMzRVaXFYOUl4OApCUUloQU9XRi93YzdwTkNCY09XVytucnUreG9xRU1scVBWcHY3ZjJPOHVoSjJMVGZBaUVBM00ycmpEd2lYUTdLCjQ1NkUxN2xyWjJ3cDl6a01HOG5CTHFZUmRQUTBOak1DSVFDQTNCdjBPWjRzbVorQ3BxTDJCZG5nTktHOEV2TmoKSk5nZXRQVFhTUzVyVFFJZ2RsdWhDMGpvdXExRlFJSW1mMlNiR0JNNDQ1YW0wUFp6SVVoUHJ6dUFDVlVDSUU3Ygp4SktYUzdJazFiNVVZTGkxbEVoN2kyR2kwVUJPSnY5MnFYd3phYzN5Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0t"
PUBLIC_KEY="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZ3d0RRWUpLb1pJaHZjTkFRRUJCUUFEU3dBd1NBSkJBTVgzalVXc2wrbjJhK2NoeXhKc21zQmRWbm5JM0xVdQpZaWQ3WGgzRUorMkFzZmZOMUV4MWY5NVpRUDFPZjJ5UkhMa2N0a1RiV1FUQm5SZTBUN1dmRW0wQ0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ=="